.Products{
    margin: 4% 0% 3% 2%;

    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.Container2{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Container3{
    display: flex;
    flex-direction: column;

    margin: 5%;
    font-family: 'Cinzel', serif;
}
