.Form{
    padding: 0px 4% 10px 7%;
    font-size: 30px;
    font-family: 'Cinzel', serif;
    width: 80%;
}

.Input{
    margin: 1%;
    width: 20%;
    height: 100%;
    font-size: 30px;
    font-family: 'Merriweather', serif;
}

.FormButton{
    color: white;
    background: rgb(48, 46, 46);
    border: solid rgb(48, 46, 46) 1px;
    border-radius: 10px;
    font-family: 'Cinzel', serif;

    padding: 5px;
    height: 100%;
    width: 30%;
}

.Url{
    height: 33px;
    width: 100%;
    font-size: 30px;
    font-family: 'Merriweather', serif;
}

.Overview{
    height: 200px;
    width: 100%;
    font-size: 30px;
    font-family: 'Merriweather', serif;
}
